@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, Cormorant, serif;
  background-color: #282928;
  color: #faf9f6;

  h1 {
    font-family: Cormorant, serif;
    font-size: 5rem;
    margin: 1rem 0;
  }

  h2 {
    font-family: Cormorant, serif;
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  a {
    text-decoration: none;
  }
}
